
.control1{
    height:1px;
}

    input-textbox {
        .form-group{
            margin: 0;        
    }
    }


.form-group {
    
    label  {
            float: right;
            line-height: 2.43em;
           }

}