<div class="container">  
    
    <form [ngFormModel]="myForm"  
          (ngSubmit)="onSubmit(myForm.value)"  
          class="ui form">

      <input-textbox label="First name" [ctl]="studentModel.FirstName">loading input....</input-textbox>
      <input-textbox label="Middle name" [ctl]="studentModel.MiddleName">loading input....</input-textbox>
      <input-textbox label="Last name" [ctl]="studentModel.LastName">loading input....</input-textbox>
    


      <div *ngIf="!myForm.valid" class="ui error message">Form is invalid</div>
        {{GetFormErrors()}}
      <button type="submit" class="ui button">Submit</button>  
    </form>  
  </div>  