<div class="row form-group ">
    <div class="field" [class.error]="!ctl.valid && ctl.touched">  
    <div class="col-xs-3">
        <label attr.for="{{id}}">{{label}}:</label>
    </div>
    <div class="col-xs-3">
        <input type="text" id="{{id}}" placeholder="{{placeholder}}" [ngFormControl]="ctl" class="form-control">
         <div *ngFor="#error of GetErrors()" [hidden]="ctl.valid || ctl.pristine" class="alert alert-danger">
          {{ctl.errors}}
        </div>  
      </div>
      
</div>
</div>